promys/
rough/
**/*.loe
**/*.xsim
**/*.bbl-*
**/*.bbl
**/*.bcf
**/*.bcf-*
**/*.idx
**/*.ilg
**/*.ptc1
**/*.ind
**/*.out
**/*.ptc2
**/*.ptc3
**/*.out.ps
**/*.lof
**/*.dvi
**/*.ps
**/*.raw3.gnuplot
**/*.raw3.table
**/*.aux
**/*.bbl
**/*.bcf
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.log
**/*.out
**/*.pre
**/*.run.xml
**/*.synctex.gz
**/*.toc

**/*.maf
**/*.mtc
**/*.mtc0
